li {
  padding: 20px;
  border-radius: 10px;
  background-color: #1c1c1c;
  border: 2px transparent solid;
  transition: border 0.5s ease;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  .top {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    .left {
      display: flex;
      align-items: center;
      gap: 10px;
      .icon {
        overflow: hidden;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #fbfbfb;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 10px;
      .numberFly {
        background-color: #353434;
        padding: 3px 10px;
        border-radius: 20px;
      }
    }
  }
  .middle {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    span {
      font-size: 30px;
    }
    .progress {
      position: relative;
      width: 100%;
      height: 2px;
      .progressBar {
        position: absolute;
        width: 50%;
        height: 2px;
        top: 0;
        left: 0;
        background-color: #b45f36;
      }
      .scale {
        position: absolute;
        width: 50%;
        height: 2px;
        top: 0;
        right: 0;
        background-color: #403f3e;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
      }
    }
  }
}
.active {
  border: 2px #ef6019d9 solid;
  transition: border 0.3s ease;
}
