@import "./reset.css";

:root {
  --background-color: #242424;
  --background-main: #232222;
  --color: #fff;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 15px;
}

body {
  background: url(https://images.unsplash.com/photo-1494806812796-244fe51b774d?q=80&w=2934&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    no-repeat bottom;
  height: 100vh;
  min-width: 320px;
  color: var(--color);
}

.dark {
  background: var(--background-color);
  color: var(--color);
}

.wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.toggle {
  display: flex;
  gap: 20px;
}
